/*FOOTER
===========================================================================================================================================*/
.footer{
    height: 300px;
}

/*FOOTER REDES
===========================================================================================================================================*/
.footer .footer-redes{
    position: relative;
    top: 135px;
    text-align: center;
    font-size: 2rem;
}

.footer .footer-redes a{
    color: #fff;
    margin: 5px;
}


/*FOOTER TEXTOS
===========================================================================================================================================*/
.footer .footer-textos{
    position: relative;
    top: 160px;
    text-align: center;
    font-size: 1rem;
}

.footer .footer-textos p{
    color: #fff;
}

