:root{
    --title-color: #322153;
    --primary-color: #4682b4;
    --secondary-color: #F27405;
    --tertiary-color: #82523c;
    --bright-color: #0583F2;
    font-size: 16px; /*converter rem para pixel => pixel dividido por 16 = rem*/
}


*,*:before,*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


html{
    font-family: 'Roboto', sans-serif;
    height: 95%;
}

body{
    font-family: 'Roboto', sans-serif;
    background: #101010;
    color: var(--primary-color);/*#2c3e50*/
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

a:hover,
i:hover{
    color: var(--secondary-color);/*#f47933*/
}

button:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
    border: 0;
}

input,
button,
textarea{
    border: 0;
}

textarea:focus, input:focus, select:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

/*GERAIS*/
.font-zero{
    font-size: 0%;
}

.row,
.section{
    float: left;
    width: 100%;
}

.section{
    padding-top: 72px;
}

.section-header{
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2rem;
}

.section-header .content{
    max-width: 800px;
}

.section-header h1{
    font-weight: normal;
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.section-header h1::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    max-width: 480px;
    background: var(--bright-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
}

.section-header h1::before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid var(--bright-color);
}

.section-header h1 span{
    position: relative;
}

.section-header h1 span::before{
    content: "";
    position: absolute;
    background: var(--bright-color);
    bottom: -9px;
    left: 0;
    width: 100%;
    height: 2px;
}

.content{
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}
